<p class="timer-counter">{{ currentTimeFormatted }}</p>
<p class="timer-runningstatus">{{ currentStatus }}</p>
<p class="timer-phasestatus">{{ currentPhase }}</p>
<p class="timer-cycles"> Cycle {{ currentCycle }}</p>
<span class="timer-control">
  <button class="control-btn-start" (click)="start()">Start</button>
  <button class="control-btn-stop" (click)="stop()">Stop</button>
  <button class="control-btn-pause" (click)="pause()">Pause</button>
  <button class="control-btn-resume" (click)="resume()">Resume</button>
</span>
